.Channel {
    text-align:left;
    width:100%;
    /* margin:0 0; */
    /* padding:10px; */
    z-index:1000;
}

.Channel p {
    position:relative;
    text-align:center;
    font-size:22px;
    font-family: 'Jua', sans-serif;
}

.Channel .ResultsContainer {
    position:relative;
    width:100%;
    display:flex;
    flex-direction:row;
}

.Channel .Words,
.Channel .Usages {
    flex:1 50%;
    border:1px solid #bebebe;
    border-radius:5px;
    margin:5px 5px;
}

.Channel .Words .Card,
.Channel .Usages .Card {
    display:inline-block;
    text-align:center;
    top:0;
    background-color:#3a3a3a;
    box-shadow: 0 0px 5px 0 rgba(255,255,255,.4);
    border:1px solid #bebebe;
    white-space: pre-wrap;
    padding: 5px 5px 5px 10px;
    margin: 5px 5px;
    border-radius:4px;

    font-family: 'Jua', sans-serif;
    font-size: 18px;
    letter-spacing: .4px;
    cursor: pointer;
}

.Channel .Words .Card:hover,
.Channel .Usages .Card:hover {
    background-color:#525252;
}

.ShowWindow {
    position:relative;
    /* width:100%; */
    padding:10px;
    margin:0;
    border-top:1px solid #bebebe;
    border-bottom:1px solid #bebebe;
}

.ShowWindow p {
    text-align:center;
    font-size:22px;
    font-family: 'Jua', sans-serif;
}

.ShowWindow .Card {
    display:inline-block;
    width:160px;
    top:0;
    background-color:#585858;
    box-shadow: 0 0 5px 0 rgba(255,255,255,.4);
    white-space: pre-wrap;
    /* padding: 5px 5px 5px 5px; */
    /* margin: 5px 5px; */
    /* border-radius:4px; */

    cursor: pointer;
}

.ShowWindow .Card:hover {
    background-color:#696969;
    box-shadow: 0 0 5px 0 rgba(255,255,255,.8);
}

.ShowWindow .Card .Source {
    width:100%;
    padding: auto auto;
    text-align:center;
    background-color:#3d3d3d;

    font-family: 'Jua', sans-serif;
    font-size: 14px;
    font-weight:500;
    letter-spacing: .4px;
}

.ShowWindow .Card .Stc {
    text-align:left;
    padding: 5px 5px;
}