:root {
    --border-size: 0.125rem;
    --big-border-size: 1.25rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: rgba(24, 24, 24, 0.9);
    --color-secondary: rgb(46, 46, 46);
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
}

.NavContainer {
    position:relative;
    z-index:1000;
    flex-shrink: 0;
    box-shadow:inset 0px -1px 1px rgba(125,125,125, 0.2);
}

.NavContainer .Nav {
    position:relative;
    padding:10px;
    top:0px;
    /* width:100%; */
    text-align:center;
    margin:0 auto;
    display:flex;
}