:root {
    --border-size: 0.125rem;
    --big-border-size: 1.25rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: rgba(24, 24, 24, 0.9);
    --color-secondary: rgb(46, 46, 46);
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
}

.Nav {
    flex-grow:0;
}
  
.Nav .Menu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-11vw, 0, 0);
            
    width: 10vw;
    height: 100vh;
}       

.Nav #flyoutMenu {
    width: 10vw;
    height: 100vh;
    background-color: rgba(255,255,255,0);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: visible;
    z-index: 1000;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    box-shadow: var(--shadow) 4px 4px;
}

.Nav #flyoutMenu.hide {
    transform: translate3d(-11vw, 0, 0);
}

.Nav #flyoutMenu.show {
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.Nav .SearchIcon {
    width:3em;
    filter: invert(100%) sepia(1%) saturate(280%) hue-rotate(147deg) brightness(119%) contrast(100%);
}