.Body {
  position: relative;
  width: 100%;
  /* height:100%; */
  margin: 0 auto;
  max-width:1920px;
  max-height:1080px;
  min-width:640px;
  min-height:360px;
}

.Body .Home {
  display:flex;
  width:100%;
  flex-direction:column;
  font-family: 'Jua', sans-serif;
}

.Body .Home div {
  flex-grow:1;
  min-height:120px;
  padding:50px 100px;
}

.Body .Home table {
  width:100%;
  padding:50px 100px;
  border:1px solid #bebebe;
  border-radius:5px;
}

.Body .Home h1 {
  font-weight:300;
}

.Body .Home p {
  margin-left:10px;
}

.Body .IframeContainer {
  /* // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
  margin-top:6px;
  margin-bottom:10px;
}

.Body .IframeContainer iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}