/* for Witcher3 */
.Body .TextDisplayContainer {
  overflow: hidden;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  text-align:center;
  pointer-events: none;
}

.Body .TextDisplay {
    overflow: hidden;
    width:100%;
    height:100%;
    color:RGB(255,255,255,0.0);
    pointer-events: none;
  
    /* witcher3 */
    transform:translateX(2.5px);
    font-family: 'PT Sans', sans-serif;
    /* fontSize:39.9*this.displayRef.current.offsetWidth/1920*0.5625 */
    line-height:1.4;
    padding:0 8%;
    padding-top:46%;
}