.Body .TextDisplayContainer {
  overflow: hidden;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  text-align:center;
  pointer-events: none;
}

.Body .TextDisplay {
    overflow: hidden;
    height:100%;
    pointer-events: none;
}