.Body .TextDisplayContainer {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  top:0;
  width:100%;
  height:100%;
  text-align:center;
  pointer-events: none;
  box-sizing: border-box;
  /* background-color: yellow; */
}

.Body .TextDisplay {
    overflow: hidden;
    height:100%;
    pointer-events: none;
}