
.Body .WdToken {
    display:inline-block;
    cursor: pointer;
    pointer-events: auto;
    /* background: rgba(98, 231, 255, 0.521); */
    /* height: 1rem; */
    /* border-radius: 1rem; */
    /* animation: fade 2s infinite; */
}

.Body .WdToken.Active{
    position: absolute;
    height: 1rem;
    border-radius: 1rem;
    background: rgba(98, 231, 255, 0.2);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events:none;
    animation:none;
}

.Body .TokenInfo {
    display: inline-block;
    background: rgb(5, 5, 5);
    overflow: visible;
    position: absolute;
    top:50%;
    left:50%;
    transform : translate(-50%, -220%);
    pointer-events:none;
    color:RGB(255,255,255,1)
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 0.4 }
}